In [2]:
#import necessary libraries
import requests
import pandas as pd

In [3]:
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=bdadf3b573d6158570c26cf4a4f9cb2d"
r = requests.get(url)
r.json()

{'success': True,
 'timestamp': 1633486746,
 'base': 'EUR',
 'date': '2021-10-06',
 'rates': {'AED': 4.257377,
  'AFN': 105.015778,
  'ALL': 121.481461,
  'AMD': 562.206196,
  'ANG': 2.080622,
  'AOA': 694.382087,
  'ARS': 114.61349,
  'AUD': 1.594494,
  'AWG': 2.086267,
  'AZN': 1.902139,
  'BAM': 1.95526,
  'BBD': 2.340498,
  'BDT': 99.411935,
  'BGN': 1.955186,
  'BHD': 0.436882,
  'BIF': 2304.079771,
  'BMD': 1.159037,
  'BND': 1.573519,
  'BOB': 7.992571,
  'BRL': 6.348111,
  'BSD': 1.159152,
  'BTC': 2.2623349e-05,
  'BTN': 86.380332,
  'BWP': 13.097832,
  'BYN': 2.902029,
  'BYR': 22717.131151,
  'BZD': 2.336599,
  'CAD': 1.459402,
  'CDF': 2320.393078,
  'CHF': 1.076578,
  'CLF': 0.034074,
  'CLP': 940.222431,
  'CNY': 7.471962,
  'COP': 4385.217638,
  'CRC': 725.573557,
  'CUC': 1.159037,
  'CUP': 30.714489,
  'CVE': 110.232883,
  'CZK': 25.332385,
  'DJF': 206.358095,
  'DKK': 7.437716,
  'DOP': 65.306718,
  'DZD': 159.343321,
  'EGP': 18.210215,
  'ERN': 17.391301,
  'ETB': 53.82406,
  'EUR': 1,
  'FJD': 2.435025,
  'FKP': 0.837382,
  'GBP': 0.850971,
  'GEL': 3.621975,
  'GGP': 0.837382,
  'GHS': 7.030452,
  'GIP': 0.837381,
  'GMD': 59.748136,
  'GNF': 11309.716915,
  'GTQ': 8.966288,
  'GYD': 242.429366,
  'HKD': 9.023511,
  'HNL': 27.937655,
  'HRK': 7.510332,
  'HTG': 114.171854,
  'HUF': 358.110067,
  'IDR': 16498.896017,
  'ILS': 3.747573,
  'IMP': 0.837381,
  'INR': 86.465919,
  'IQD': 1692.402301,
  'IRR': 48899.783796,
  'ISK': 148.809087,
  'JEP': 0.837381,
  'JMD': 172.132422,
  'JOD': 0.821747,
  'JPY': 129.361894,
  'KES': 128.200808,
  'KGS': 98.282566,
  'KHR': 4729.195682,
  'KMF': 491.721566,
  'KPW': 1043.13359,
  'KRW': 1380.008101,
  'KWD': 0.349276,
  'KYD': 0.96601,
  'KZT': 493.172055,
  'LAK': 11554.488909,
  'LBP': 1752.67422,
  'LKR': 231.545639,
  'LRD': 197.962538,
  'LSL': 17.362556,
  'LTL': 3.422336,
  'LVL': 0.70109,
  'LYD': 5.277317,
  'MAD': 10.495242,
  'MDL': 20.334905,
  'MGA': 4578.637956,
  'MKD': 61.596522,
  'MMK': 2169.403307,
  'MNT': 3290.782508,
  'MOP': 9.295012,
  'MRO': 413.776118,
  'MUR': 49.536877,
  'MVR': 17.907426,
  'MWK': 945.284959,
  'MXN': 23.90912,
  'MYR': 4.847674,
  'MZN': 73.981209,
  'NAD': 17.362093,
  'NGN': 477.00175,
  'NIO': 40.794298,
  'NOK': 9.908204,
  'NPR': 138.203963,
  'NZD': 1.671117,
  'OMR': 0.446221,
  'PAB': 1.159152,
  'PEN': 4.791504,
  'PGK': 4.089367,
  'PHP': 58.785792,
  'PKR': 198.272189,
  'PLN': 4.605787,
  'PYG': 8012.696293,
  'QAR': 4.220012,
  'RON': 4.944576,
  'RSD': 117.544738,
  'RUB': 83.888453,
  'RWF': 1178.435982,
  'SAR': 4.346834,
  'SBD': 9.343346,
  'SCR': 15.586896,
  'SDG': 511.135416,
  'SEK': 10.145528,
  'SGD': 1.574169,
  'SHP': 1.596458,
  'SLL': 12274.205197,
  'SOS': 678.036591,
  'SRD': 24.809172,
  'STD': 23989.732098,
  'SVC': 10.142957,
  'SYP': 1457.417803,
  'SZL': 17.386784,
  'THB': 39.259492,
  'TJS': 13.127775,
  'TMT': 4.056631,
  'TND': 3.271977,
  'TOP': 2.623836,
  'TRY': 10.290509,
  'TTD': 7.86654,
  'TWD': 32.354754,
  'TZS': 2665.785791,
  'UAH': 30.627819,
  'UGX': 4126.697648,
  'USD': 1.159037,
  'UYU': 49.792492,
  'UZS': 12389.353352,
  'VEF': 247837204330.24777,
  'VND': 26375.949713,
  'VUV': 129.385342,
  'WST': 2.967505,
  'XAF': 655.743312,
  'XAG': 0.051507,
  'XAU': 0.00066,
  'XCD': 3.132356,
  'XDR': 0.820233,
  'XOF': 655.76028,
  'XPF': 119.669902,
  'YER': 289.989565,
  'ZAR': 17.430997,
  'ZMK': 10432.727361,
  'ZMW': 19.705988,
  'ZWL': 373.209539}}

In [4]:
#Convert json data into dataframe
api_data = r.json()
df = pd.DataFrame(api_data)
print(df)

     success   timestamp base        date         rates
AED     True  1633486746  EUR  2021-10-06      4.257377
AFN     True  1633486746  EUR  2021-10-06    105.015778
ALL     True  1633486746  EUR  2021-10-06    121.481461
AMD     True  1633486746  EUR  2021-10-06    562.206196
ANG     True  1633486746  EUR  2021-10-06      2.080622
..       ...         ...  ...         ...           ...
YER     True  1633486746  EUR  2021-10-06    289.989565
ZAR     True  1633486746  EUR  2021-10-06     17.430997
ZMK     True  1633486746  EUR  2021-10-06  10432.727361
ZMW     True  1633486746  EUR  2021-10-06     19.705988
ZWL     True  1633486746  EUR  2021-10-06    373.209539

[168 rows x 5 columns]

In [5]:
#drop unwanted columns
data = df.drop(columns=["success", "timestamp", "base", "date"], axis=1)
data

            rates
AED      4.257377
AFN    105.015778
ALL    121.481461
AMD    562.206196
ANG      2.080622
..            ...
YER    289.989565
ZAR     17.430997
ZMK  10432.727361
ZMW     19.705988
ZWL    373.209539

[168 rows x 1 columns]

In [6]:
# Save the Dataframe to csv
Final_data = data.to_csv("exchange_rates_1.csv")